@import "../common/common";
$form-container-padding: 20px;

body {
    background-image: url("../../images/login-bg.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper {
    // height:616px;
    // width:600px;
    border-radius: 4px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    @media screen and (max-width: 550px) {
        width: 65%;
    }
    @media screen and (min-width: 550px) and (max-width: 767px) {
        width: 55%;
    }
    @include tablet {
        width: 50%;
    }
    @include desktop {
        width: 40%;
    }
    @include tv {
        width: 40%;
    }

    .login-panel {
        background-color: white;
        opacity: 0.95;
        box-shadow: 0 0 20px $login-box-shadow;
        @media screen and (max-width: 550px) {
            padding: 0;
        }
        @media screen and (min-width: 550px) and (max-width: 767px) {
            padding: 0;
        }
        @include tablet {
            padding: 0;
        }
        @include desktop {
            padding: 0;
        }
        @include tv {
            padding: 0;
        }
    }

    .login-heading {
        font-size: 24px;
        padding: 1px 5px 1px 20px;
        background-color: white;
        color: $brand-primary;
        line-height: 2.42857143;

        h3 {
            font-size: 32px;
            display: inline;
        }

        img {
            display: inline-block;
            float: right;
            margin: 8px;
            height: 35px;
            width: 120px;
        }
    }

    .instructions {
        color: $font-label;
        font-weight: 100;
        font-size: 12px;

        &.header {
            background-color: $main-bgc;
            padding: 15px;
            margin-bottom: 30px;
        }

        &.footer {
            margin-top: 50px;
            margin-bottom: 5px;
        }

        .info {
            color: $font-link;
            display: inline;
        }
    }

    .btn {
        float: left;
        width: 70px;
        border-radius: 0;
    }

    .login-body {
        padding: 20px;
    }

    .form-group {
        position: relative;
        padding: 1px;
    }

    #loginForm {
        input {
            & {
                box-shadow: none;
                border: 0;
                border-bottom: 1px solid black;
                border-radius: 0;
                font-size: 1.2em;
                margin-top: 25px;
                height: 25px;
                width: 56%;
            }
            @include hover-state {
                box-shadow: none;
                border-color: #000;
            }
        }

        label {
            position: absolute;
            top: 25px;
            left: 10px;
            opacity: 0.5;
            font-size: 14px;
            font-weight: 100;
            transition: all 0.3s;
        }

        input.ng-not-empty + label,
        input:focus + label {
            top: 0;
            left: -2px;
            font-size: 1em;
        }
    }

    .modal-footer {
        border-top: 2px solid $input-border-color;
        padding: 20px;
    }

}
