// ALL COLORS START
$brand-primary: #194E90;
$brand-info: #8b1b3f;
$main-bgc:#f6f6f6;
$search-bgc:#e7e7e7;
$search-btn:#b8b8b8;
$grid-strip:#f9f9f9;
$input-border-color: #d3d3d3;
$secondary-action:#868686; //cancel or secondary action
$primary-search-bgc: #f4f2f3; //bgc
$primary-search-tc: #868686;
$secondary-nav-bgc: #cbd4dd;
$grid-border-color:#e6e6e6;//need to add
$login-box-shadow:#cccccc;

$label-active: #6fb843;
$label-deactive: #959595;
$label-pending: #e98447;
$label-failed: #ea332f;
$pagination-bgc: #a1a1a1;

$font-default:#333333;
$font-label:#868686;
$font-link:#0064d3;
$font-test-name:#5a5a5a;
$font-value:#333333;
// ALL COLORS END
