<div ng-controller="usersController as ctrl">

    <div class="container-fluid" id="main-dashboard" st-pipe="ctrl.callServer" st-table="ctrl.displayed">

        <div class="container-fluid dashboardRow">
            <div class="row">
                <div class="table-responsive app-dashboard">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th st-sort="title">First Name</th>
                                <th st-sort="desc">Last Name</th>
                                <th>Username</th>
                                <th st-sort="noOfUsersFollowing">Ststus</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tbody ng-show="!ctrl.isLoading">
                                <tr ng-repeat="row in ctrl.displayed" class = "center">
                                    <td>{{row.firstName}}</td>
                                    <td> {{row.lastName}}</td>
                                    <td>{{row.username}}</td>
                                    <td><button class="btn btn-success">{{row.status}}</button></td>
                                </tr>
                            </tbody>
                            <tbody ng-show="ctrl.isLoading">
                                <tr>
                                    <td colspan="9" class="text-center">Loading ...
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-show="ctrl.noRecords">
                                <tr>
                                    <td colspan="9" class="text-center">No records to show
                                    </td>
                                </tr>
                            </tbody>
                    </table>
                </div>

                <div class="app-dashboard-pagination" st-template="common/template/dashboardPagination.html" st-pagination=""></div>
            </div>

        </div>

    </div>

</div>
