<link rel="stylesheet" href="styles/scss/main/tab.css">
<div ng-controller="BasicController as ctrl">
    <form class="basicForm roundedCorner" name="basicForm">
              <div class="form-group">
               <!-- <label for="title">Title</label>-->
                <input type="text" class="form-control" id="title" placeholder="Title" required name ="title" ng-model="ctrl.basicInfo.title">
              </div>

            <div class="form-group">
               <!-- <label for="description">Description</label>-->
              <textarea class="form-control" rows="5" id="description" placeholder="Description" name = "description" ng-model="ctrl.basicInfo.desc" required></textarea>
            </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-success pull-right" ng-click="ctrl.gotoNextTab()">Next</button>
        </div>
    </form>
</div>