<div ui-view></div>
<div ng-controller="myInitiativesController as ctrl">

    <div class="container-fluid" id="main-dashboard" st-pipe="ctrl.callServer" st-table="ctrl.displayed">

        <div class="row header">
            <!-- /.col-sm-2 -->
            <div class="col-sm-3 col-sm-offset-9 order-test">
                <button ui-sref="App.MyInitiative.AddNewInitiative.Basic" class="btn btn-info btn-lg ">Add new Initiative</button>
            </div>
            <!-- /.col-sm-2 -->
        </div>
        <div class="container-fluid dashboardRow">
            <div class="row">
                <div class="table-responsive app-dashboard">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th st-sort="title">Title</th>
                                <th st-sort="desc">Description</th>
                                <th>Image of the initiative</th>
                                <th st-sort="noOfUsersFollowing">No. of users following </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tbody ng-show="!ctrl.isLoading">
                                <tr ng-repeat="row in ctrl.displayed">
                                    <td>{{row.title}}</td>
                                    <td> {{row.desc}}</td>
                                    <td><a class="hand-pointer">{{row.img}}</a></td>
                                    <td>{{row.noOfUsersFollowing}}</td>
                                    <td><button class="hand-pointer btn btn-warning btn-xs" ng-click="ctrl.deleteInitiative(row.id)">{{row.isDeleted}}</button></td>
                                </tr>
                            </tbody>
                            <tbody ng-show="ctrl.isLoading">
                                <tr>
                                    <td colspan="9" class="text-center">Loading ...
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-show="ctrl.noRecords">
                                <tr>
                                    <td colspan="9" class="text-center">No records to show
                                    </td>
                                </tr>
                            </tbody>
                    </table>
                </div>

                <div class="app-dashboard-pagination" st-template="common/template/dashboardPagination.html" st-pagination=""></div>
            </div>
        </div>
    </div>
